<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{291,1026},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,58}</string>
                <key>spriteSourceSize</key>
                <string>{237,58}</string>
                <key>textureRect</key>
                <string>{{137,491},{237,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,71}</string>
                <key>spriteSourceSize</key>
                <string>{239,71}</string>
                <key>textureRect</key>
                <string>{{593,137},{239,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,103}</string>
                <key>spriteSourceSize</key>
                <string>{230,103}</string>
                <key>textureRect</key>
                <string>{{1,708},{230,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,134}</string>
                <key>spriteSourceSize</key>
                <string>{215,134}</string>
                <key>textureRect</key>
                <string>{{1,491},{215,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,152}</string>
                <key>spriteSourceSize</key>
                <string>{199,152}</string>
                <key>textureRect</key>
                <string>{{201,1},{199,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,161}</string>
                <key>spriteSourceSize</key>
                <string>{198,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,162}</string>
                <key>spriteSourceSize</key>
                <string>{189,162}</string>
                <key>textureRect</key>
                <string>{{1,327},{189,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,158}</string>
                <key>spriteSourceSize</key>
                <string>{179,158}</string>
                <key>textureRect</key>
                <string>{{834,132},{179,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,145}</string>
                <key>spriteSourceSize</key>
                <string>{181,145}</string>
                <key>textureRect</key>
                <string>{{402,165},{181,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{810,1},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{422,1026},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,99}</string>
                <key>spriteSourceSize</key>
                <string>{222,99}</string>
                <key>textureRect</key>
                <string>{{106,730},{222,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,76}</string>
                <key>spriteSourceSize</key>
                <string>{227,76}</string>
                <key>textureRect</key>
                <string>{{585,306},{227,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,94}</string>
                <key>spriteSourceSize</key>
                <string>{218,94}</string>
                <key>textureRect</key>
                <string>{{585,210},{218,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,108}</string>
                <key>spriteSourceSize</key>
                <string>{203,108}</string>
                <key>textureRect</key>
                <string>{{814,292},{203,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,135}</string>
                <key>spriteSourceSize</key>
                <string>{169,135}</string>
                <key>textureRect</key>
                <string>{{388,459},{169,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,154}</string>
                <key>textureRect</key>
                <string>{{182,1203},{134,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{451,867},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{582,867},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{553,1026},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{338,1185},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{684,1026},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,150}</string>
                <key>spriteSourceSize</key>
                <string>{133,150}</string>
                <key>textureRect</key>
                <string>{{600,1185},{133,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{735,1185},{143,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,127}</string>
                <key>spriteSourceSize</key>
                <string>{163,127}</string>
                <key>textureRect</key>
                <string>{{451,738},{163,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,104}</string>
                <key>spriteSourceSize</key>
                <string>{195,104}</string>
                <key>textureRect</key>
                <string>{{201,309},{195,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{559,558},{222,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,58}</string>
                <key>spriteSourceSize</key>
                <string>{237,58}</string>
                <key>textureRect</key>
                <string>{{328,415},{237,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,71}</string>
                <key>spriteSourceSize</key>
                <string>{239,71}</string>
                <key>textureRect</key>
                <string>{{207,738},{239,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,103}</string>
                <key>spriteSourceSize</key>
                <string>{230,103}</string>
                <key>textureRect</key>
                <string>{{1,940},{230,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,134}</string>
                <key>spriteSourceSize</key>
                <string>{215,134}</string>
                <key>textureRect</key>
                <string>{{593,1},{215,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,152}</string>
                <key>spriteSourceSize</key>
                <string>{199,152}</string>
                <key>textureRect</key>
                <string>{{201,155},{199,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{469,1185},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,161}</string>
                <key>spriteSourceSize</key>
                <string>{198,161}</string>
                <key>textureRect</key>
                <string>{{1,164},{198,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,162}</string>
                <key>spriteSourceSize</key>
                <string>{189,162}</string>
                <key>textureRect</key>
                <string>{{402,1},{189,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,158}</string>
                <key>spriteSourceSize</key>
                <string>{179,158}</string>
                <key>textureRect</key>
                <string>{{1,1178},{179,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,145}</string>
                <key>spriteSourceSize</key>
                <string>{181,145}</string>
                <key>textureRect</key>
                <string>{{398,312},{181,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{197,415},{200,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,99}</string>
                <key>spriteSourceSize</key>
                <string>{222,99}</string>
                <key>textureRect</key>
                <string>{{106,954},{222,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,76}</string>
                <key>spriteSourceSize</key>
                <string>{227,76}</string>
                <key>textureRect</key>
                <string>{{581,384},{227,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,94}</string>
                <key>spriteSourceSize</key>
                <string>{218,94}</string>
                <key>textureRect</key>
                <string>{{559,462},{218,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,94}</string>
                <key>spriteSourceSize</key>
                <string>{218,94}</string>
                <key>textureRect</key>
                <string>{{559,642},{218,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,108}</string>
                <key>spriteSourceSize</key>
                <string>{203,108}</string>
                <key>textureRect</key>
                <string>{{810,402},{203,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,150}</string>
                <key>spriteSourceSize</key>
                <string>{133,150}</string>
                <key>textureRect</key>
                <string>{{844,864},{133,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,108}</string>
                <key>spriteSourceSize</key>
                <string>{203,108}</string>
                <key>textureRect</key>
                <string>{{783,512},{203,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,135}</string>
                <key>spriteSourceSize</key>
                <string>{169,135}</string>
                <key>textureRect</key>
                <string>{{388,596},{169,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,135}</string>
                <key>spriteSourceSize</key>
                <string>{169,135}</string>
                <key>textureRect</key>
                <string>{{280,733},{169,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,154}</string>
                <key>textureRect</key>
                <string>{{781,728},{134,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,154}</string>
                <key>textureRect</key>
                <string>{{291,870},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{713,867},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{815,1026},{143,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,127}</string>
                <key>spriteSourceSize</key>
                <string>{163,127}</string>
                <key>textureRect</key>
                <string>{{616,738},{163,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,104}</string>
                <key>spriteSourceSize</key>
                <string>{195,104}</string>
                <key>textureRect</key>
                <string>{{783,622},{195,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{207,979},{222,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{1018,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffaa97b4458faa5d7b6bca881c7e7e13:6bd81c88c96fd0d21ff05c88c0727234:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
